@charset "UTF-8";
/* CSS DOCUMENT*/
body {
	/* makes the background a gradient, 
	all the font is set
	the color of all the text is white*/
	background-image: url("images/background.jpg");	
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	color: white;
}

#rightColumn button {
	display: block;
	width: 100%;
	background-color: white;
}

#diff1, #diff2, #diff3, #diff4 {
	width: 24.6%;
	font-size: 24px;
	border-radius:10px;
}

#diff1{
	background-color:hotpink;
	border-color:white;
}

#diff2{
	background-color: lightgreen;
	border-color:white;

}

#title {
	/*
	the title size is set at 40 px
	the title is aligned at the center
	*/
	font-size:40px;
	text-align: center;
	
}

progress {
	width: 100%;
	height: 98%;
}

#wrapper {
	/*
	the wrapper has a width of 960 px 
	*/
	padding: 5px;
	width: 960px;
	margin: 20px auto;
}

#leftColumn {
	/*
	Sets the color, height, width, border curves, and text color
	It is the score 
	*/
	background-color: white;
	height: 500px;
	width: 400px;
	border-radius: 12px;
	color: black;
	float: left;
}


#footer {
	/*
	The footer is the red bar at the bottom that has the progress bar
	*/
	
	background-color: red;
	height: 200px;
	clear: both;
	width: 960px;
	align-self:center;
	border-radius: 12px;
	
	
	
}

#rightColumn {
	/*
	The blue column on the right that contains the question
	*/
	background-color: blue;
	float: right;

	width: 400px;
	height: 500px;
	border-radius: 12px;
	
	
}

#demo {
	/*
	The question that is center on the blue column is the demo
	*/
	color: white;
	font-size: 40px;
	
	
	
	
}

#leftColumn {
	font-size: 25px;
}

/*  Media Screen
*/
@media screen and (max-width: 980px){

	#wrapper {
			width:94%;
	}
	#rightColumn {
			width: 65%;
	}
	#leftColumn {
			width: 30%;
	}
	}
	@media screen and (max-width: 700px){
			#leftColumn, #rightColumn {
				width: auto;
				float: none;
			}
		}

@media screen and (max-width: 480px) {

	
		h1 {
			font-size: 24px;
		}
		#leftColumn {
			float: none;
		}
}
/* Phones */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px) {
		body{
			font-size: 40px;
		}
	
		#rightColumn {
			width: auto;
			
		}
		#leftColumn {
			width: auto;
			clear: both;
		}
		 #leftColumn,#rightColumn,#font{
		
			border-radius: 16px;
			border-width: 8px;
}
}
#leftColumn, #rightColumn {
	text-align: center;
}

#a1,#a2,#a3,#a4 {
	font-size: 36px;
	border-radius: 10px;
}
