@charset "UTF-8";
/* CSS DOCUMENT*/
body {
	background-image: url("images/background.jpg");	
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	color: white;
}

#title {
	text-align: center;
}

#leftColumn {
	background-color: white;
	height: 500px;
	width: 300px;
	border-radius: 12px;
	position:fixed;
	color: black;
	float: left;
}

#centerColumn {
	align: center;
	background-color: red;
	height: 200px;
	width: 100px;
	position:absolute;
	
	
	
	
}

#rightcolumn {
	background-color: blue;
	float: right;
}

