@charset "UTF-8";
/* CSS DOCUMENT*/
body {
	background-image: url("images/background.jpg");	
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	color: white;
}

#title {
	font-size:40px;
	text-align: center;
	
}

#wrapper {
	padding: 5px;
	width: 960px;
	margin: 20px auto;
}

#leftColumn {
	background-color: white;
	height: 500px;
	width: 400px;
	border-radius: 12px;
	color: black;
	float: left;
}
#placeholder {
	float: right;
	width: 400px;
	height: 500px;
	border-radius: 12px;
	background-color: blue;
}

#footer {
	
	background-color: red;
	height: 200px;
	clear: both;
	width: 900px;
	align-self:center;
	border-radius: 12px;
	
	
	
}

#rightcolumn {
	background-color: blue;
	float: right;
}

